*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(42, 41, 41);
    height: 18vh;
}
.logo img{
width: 100px;
margin-top: 25px;
margin-left: 6px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    margin-right: 12px;
   color: #fff;
   transition: 0.3s;}
.nav-link{
    margin-top: -28px;
}
.nav ul li:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.banner{
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    background-image: url(./images/background.png),linear-gradient(45deg,#171414,#000);
}
.banner-img img{
    width: 300px;
    height: 300px;
}
.banner-info{
    margin-top: 40px;
    margin-left: 15px;
}
.banner-info h1{
    padding-bottom: 10px;
}
.banner-info p{
padding-top: 18px;
padding-bottom: 20px;
}
.banner button{
    border: 0;
    padding: 6px;
    background-color:#fff;
    border-radius: 4px;
}
.banner button:hover{
    color: #fff;
    background-color: brown;
}