*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(91, 40, 40);
    height: 18vh;
}
.logo img{
width: 100px;
margin-top: 25px;
margin-left: 6px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    margin-right: 12px;
   color: #fff;
   transition: 0.3s;}
.nav-link{
    margin-top: -28px;
}
.nav ul li:hover{
    color: rgb(65, 3, 3);
    cursor: pointer;
}